<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
    <h1>Вход</h1>

    <form method="post">
        {% csrf_token %}
        <p>
            <label>Имя пользователя:</label><br>
            <input type="text" name="username">
        </p>
        <p>
            <label>Пароль:</label><br>
            <input type="password" name="password">
        </p>
        <button type="submit">Войти</button>
    </form>

    <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</body>
</html>